span{
    /*给当前元素设置相对定位*/
    position:relative;
    z-index: 1;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background-color:#e1e1e1;
    min-width: 80px;
    padding: 0 10px;
    margin: 15px;
    transition: all 0.5s;
}
pre{
    color:gray;
}
/*
*给相应的元素的:before和:after设置绝对定位
*/
.ech-fade:before,
.ech-fade-t:before,
.ech-fade-b:before,
.ech-fade-l:before,
.ech-fade-r:before,
.ech-fade-c-in:before,/*因为是以中心为重合点，所以需要设置两个方向*/
.ech-fade-c-in:after,
.ech-fade-m-in:before,
.ech-fade-m-in:after,
.ech-fade-m-out:before,
.ech-fade-c-out:before{
    position: absolute;
    transition: all .5s;
    content: "";
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color:rgb(123, 201, 111);
}
/*
*弹跳（bounce）元素的:before和:after设置绝对定位和运动曲线
*/
.ech-bounce-t:before,
.ech-bounce-b:before,
.ech-bounce-r:before,
.ech-bounce-l:before{
    position: absolute;
    transition-timing-function: cubic-bezier(0.52, 1.7, 0.5, 0.4);
    transition:all .5s;
    content:"";
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color:rgb(123, 201, 111); 
}
span:hover{
    color:#fff;
}
/*
*fade
*/
.ech-fade:before{
    top: 0;
    left: 0;
    transform: scaleX(1);
    opacity: 0;/*重点*/
}
.ech-fade:hover:before{
    opacity: 1;
}

/*
*fade（bounce）T go B
*/
.ech-fade-t:before,.ech-bounce-t:before{
    bottom: 0;
    left: 0;
    transform-origin: 50% 0;
    transform: scaleY(0);
}

/*
*fade（bounce）B go T
*/
.ech-fade-b:before,.ech-bounce-b:before{
    top: 0;
    left:0;
    transform-origin: 50% 100%;
    transform: scaleY(0);
}

/*
*fade（bounce）L go R
*/
.ech-fade-l:before,.ech-bounce-l:before{
    top: 0;
    right: 0;
    transform-origin: 0 50%;
    transform: scaleX(0);
}

/*
*fade（bounce）R go L
*/
.ech-fade-r:before,.ech-bounce-r:before{
    top: 0;
    left: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
}

/*
*middle out
*/
.ech-fade-m-out:before{
    top: 0;
    bottom: 0;
    left: 0;
/*     margin: auto; */
    transform:scaleY(0);
}

/*
*center out
*/
.ech-fade-c-out:before{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
/*     margin: auto; */
    transform: scaleX(0)
}
.ech-fade-c-out:hover:before{
    transform: scaleX(1);
}

/*
*center in
*/
.ech-fade-c-in:before{
    top: 0;
    left: 0;
    transform-origin:0 50%;
    transform: scaleX(0); 
}
.ech-fade-c-in:after{
    top: 0;
    right:0;
    transform-origin: 100% 50%;
    transform: scaleX(0)
}
/*center in（50%）*/
.ech-fade-c-in:hover:before,
.ech-fade-c-in:hover:after{
    transform: scaleX(.51);
}
/*center in（100%）*/
.ech-fade-l:hover:before,
.ech-fade-r:hover:before,
.ech-fade-c-out:hover:before,
.ech-bounce-l:hover:before,
.ech-bounce-r:hover:before{
    transform: scaleX(1);
}
   
/*
*middle in
*/
.ech-fade-m-in:before{
    top: 0;
    left: 0;
    transform-origin:50% 0;
    transform: scaleY(0); 
}
.ech-fade-m-in:after{
    bottom: 0;
    right:0;
    transform-origin: 50% 100%;
    transform: scaleY(0)
}
/*middle in（50%）*/
.ech-fade-m-in:hover:before,
.ech-fade-m-in:hover:after{
    transform: scaleY(.51);
}
/*minddle in（100%）*/
.ech-fade-t:hover:before,
.ech-fade-b:hover:before,
.ech-fade-m-out:hover:before,
.ech-bounce-b:hover:before,
.ech-bounce-t:hover:before{
    transform: scaleY(1);
}
